
{{ item.target }} {
{{ item.rotation_period }}
{% if item.dateext_format is defined %}
dateext
dateformat {{ item.dateext_format }}
{% endif %}
missingok
rotate {{ item.rotation_count }}
{% if item.compress is defined and item.compress == False %}
nocompress
{% else %}
compress
{% endif %}
}
