
{{ item.target }} {
daily
dateext
dateformat -%Y-%m-%d-%s
sharedscripts
missingok
rotate {{ item.count }}
{% if item.nocompress is defined and item.nocompress == True %}
nocompress
{% endif %}
{% if item.compress is defined and item.compress == True %}
compress
{% endif %}
su root root
postrotate
{{ item.backup_cmd }}
endscript
}
