
LoadPlugin write_graphite

<Plugin write_graphite>
	<Node "graphite-node">
		Host "{{ host_profile.collectd.settings.plugins_settings.graphite.graphite_address }}"
		Port "{{ host_profile.collectd.settings.plugins_settings.graphite.graphite_port }}"
		Protocol "{{ host_profile.collectd.settings.plugins_settings.graphite.graphite_protocol }}"
		LogSendErrors true
		Prefix "{{ host_profile.collectd.settings.plugins_settings.graphite.graphite_prefix }}"
		EscapeCharacter "_"
       </Node>
</Plugin>
