
LoadPlugin mysql

<Plugin mysql>
{% for entry in host_profile.collectd.settings.plugins_settings.mysql.databases %}
	<Database "{{ entry.name }}">
		Host "{{ entry.host }}"
		User "{{ entry.login }}"
		{% if entry.password is defined %}
		{% if entry.password is not none %}
		Password "{{ entry.password }}"
		{% endif %}
		{% endif %}
	</Database>
{% endfor %}
</Plugin>
