###############################################################################
#
#  AGENT BEHAVIOUR
#

agentAddress {{ host_profile.snmpd.settings.bind_protocol }}:{{ host_profile.snmpd.settings.bind_address }}:{{ host_profile.snmpd.settings.bind_port }}


###############################################################################
#
#  ACCESS CONTROL
#

rocommunity {{ host_profile.snmpd.settings.ro_community }}


###############################################################################
#
#  SYSTEM INFORMATION
#

sysLocation    {{ host_profile.snmpd.settings.sys_location }}
sysContact     {{ host_profile.snmpd.settings.sys_contact }}

                               # Application + End-to-End layers
sysServices    72


#
#  Process Monitoring
#
                               # At least one  'mountd' process
proc  mountd
                               # No more than 4 'ntalkd' processes - 0 is OK
proc  ntalkd    4
                               # At least one 'sendmail' process, but no more than 10
proc  sendmail 10 1

#  Walk the UCD-SNMP-MIB::prTable to see the resulting output
#  Note that this table will be empty if there are no "proc" entries in the snmpd.conf file


#
#  Disk Monitoring
#
                               # 10MBs required on root disk, 5% free on /var, 10% free on all other disks
disk       /     10000
disk       /var  5%
includeAllDisks  10%

#  Walk the UCD-SNMP-MIB::dskTable to see the resulting output
#  Note that this table will be empty if there are no "disk" entries in the snmpd.conf file


#
#  System Load
#
                               # Unacceptable 1-, 5-, and 15-minute load averages
load   12 10 5

#  Walk the UCD-SNMP-MIB::laTable to see the resulting output
#  Note that this table *will* be populated, even without a "load" entry in the snmpd.conf file



###############################################################################
#
#  ACTIVE MONITORING
#



###############################################################################
#
#  EXTENDING THE AGENT
#

#
#  Arbitrary extension commands
#


#
#  "Pass-through" MIB extension command
#


#
#  AgentX Sub-agents
#
