
$template GRAYLOGRFC5424,"%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msg%\n"
*.* @{{ host_profile.graylog.settings.server_address }}:{{ host_profile.graylog.settings.server_port }};GRAYLOGRFC5424
