
    ProxyRequests Off

    <Location />

	{% if item.fqdn_as_server_name is defined and item.fqdn_as_server_name is not none %}
	RequestHeader set X-Graylog-Server-URL "https://{{ host_profile.network.settings.main.hostname }}.{{ host_profile.network.settings.main.domain }}/api/"
	{% elif item.server_name is defined and item.server_name is not none %}
	RequestHeader set X-Graylog-Server-URL "https://{{ item.server_name }}/api/"
	{% endif %}

        ProxyPass http://127.0.0.1:9000/
        ProxyPassReverse http://127.0.0.1:9000/
    </Location>
