# Schema definitions for Whisper files. Entries are scanned in order,
# and first match wins. This file is scanned for changes every 60 seconds.
#
#  [name]
#  pattern = regex
#  retentions = timePerPoint:timeToStore, timePerPoint:timeToStore, ...

# Carbon's internal metrics. This entry should match what is specified in
# CARBON_METRIC_PREFIX and CARBON_METRIC_INTERVAL settings
[carbon]
pattern = ^carbon\.
retentions = 60:90d

[default_1min_for_1day]
pattern = .*
retentions = 60s:1d

{% if host_profile.grafana.settings.carbon_storage is defined %}
{% if host_profile.grafana.settings.carbon_storage is not none %}
{% for section in host_profile.grafana.settings.carbon_storage %}
[{{ section.name }}]
{% if section.priority is defined %}
priority = {{ section.priority }}
{% endif %}
pattern: {{ section.pattern }}
retentions: {{ section.retentions }}
{% endfor %}
{% endif %}
{% endif %}
