# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

{%set i = 0 %}
{% for entry in host_profile.network.settings.addresses %}
{%set device = 'eth' ~ i %}
{% if entry.device is defined and entry.device is not none %}
{%set device = entry.device %}
{% endif %}
auto {{ device }}
iface {{ device }} inet static
        address {{ entry.ipv4_address }}
	{% if entry.ipv4_mask is defined and entry.ipv4_mask is not none %}
	netmask {{ entry.ipv4_mask }}
	{% else %}
	netmask {{ host_profile.network.settings.common.ipv4_mask }}
	{% endif %}
	{% if entry.ipv4_gw is defined and entry.ipv4_gw is not none %}
	gateway {{ entry.ipv4_gw }}
	{% elif entry.ipv4_gw is not defined and host_profile.network.settings.common.ipv4_gw is defined and host_profile.network.settings.common.ipv4_gw is not none %}
	gateway {{ host_profile.network.settings.common.ipv4_gw }}
	{% endif %}

{% set i = i + 1 %}
{% endfor %}
