
domain {{ host_profile.network.settings.main.domain }}
search {{ host_profile.network.settings.main.domain }}

{% for server in host_profile.network.settings.main.dns %}
nameserver {{ server }}
{% endfor %}
