
{% set listen_ports = [] %}
{% for vhost in host_profile.apache2.settings.virtual_hosts %}
{% if vhost.binding_port not in listen_ports %}
Listen {{ vhost.binding_port }}
{% set listen_ports = listen_ports + [vhost.binding_port] %}
{% endif %}
{% endfor %}
