
<VirtualHost {{ item.binding_address }}:{{ item.binding_port }}>

{% if item.fqdn_as_server_name is defined and item.fqdn_as_server_name is not none %}
	ServerName {{ host_profile.network.settings.main.hostname }}.{{ host_profile.network.settings.main.domain }}
{% elif item.server_name is defined and item.server_name is not none %}
	ServerName {{ item.server_name }}
{% endif %}

{% if item.server_admin is defined and item.server_admin is not none %}
	ServerAdmin {{ item.server_admin }}
{% endif %}

{% if item.document_root is defined and item.document_root is not none %}
	DocumentRoot {{ item.document_root }}
{% endif %}

{% if item.default_logs is defined and item.default_logs == True %}
	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
{% endif %}

{% if item.include_ssl_statements is defined and item.include_ssl_statements == True %}
	SSLProxyEngine on
	SSLEngine on
	
	SSLCertificateFile {{ host_profile.apache2.settings.ssl.certificate }}
	SSLCertificateKeyFile {{ host_profile.apache2.settings.ssl.key }}
	SSLCertificateChainFile {{ host_profile.apache2.settings.ssl.chain }}
{% elif item.redirect_to_https is defined and item.redirect_to_https == True %}
	{% if item.fqdn_as_server_name is defined and item.fqdn_as_server_name is not none %}
	Redirect permanent "/" https://{{ host_profile.network.settings.main.hostname }}.{{ host_profile.network.settings.main.domain }}/
	{% elif item.server_name is defined and item.server_name is not none %}
	Redirect permanent "/" https:// {{ item.server_name }}/
	{% endif %}
{% endif %}

{% if item.reverse_proxy_to is defined and item.reverse_proxy_to is not none %}
	ProxyRequests Off
	<Location />
		ProxyPass {{ item.reverse_proxy_to }}
		ProxyPassReverse {{ item.reverse_proxy_to }}
	</Location>
{% endif %}

{% if item.include_file is defined and item.include_file is not none %}
    {{ lookup('file', item.include_file) }}
{% endif %}

{% if item.include_template is defined and item.include_template is not none %}
    {{ lookup('template', item.include_template) }}
{% endif %}

</VirtualHost>
