
{% if (host_profile.elasticsearch.settings.cluster_name is defined) and (host_profile.elasticsearch.settings.cluster_name is not none) %}
cluster.name: {{ host_profile.elasticsearch.settings.cluster_name }}
{% endif %}
