
key "{{ host_profile.certbot.settings.verification.ddns_key.name }}" {
        algorithm {{ host_profile.certbot.settings.verification.ddns_key.algorithm }};
        secret "{{ host_profile.passwords.certbot.ddns_key.secret }}";
};
