server {{ host_profile.certbot.settings.verification.dns_server }}
update delete {% raw %}{{ certbot__dns_record }}{% endraw %} TXT
send
server {{ host_profile.certbot.settings.verification.dns_server }}
update add {% raw %}{{ certbot__dns_record }}{% endraw %} 1800 TXT {% raw %}{{ certbot__dns_value }}{% endraw %} 

send
quit
